<div id="<%= dom_id invsdatum %>">
  <p>
    <strong>ID</strong>
    <%= invsdatum.id %>
  </p>
  <p>
    <strong>Original string:</strong>
    <%= invsdatum.original_string %>
  </p>

 

  <p>
    <strong>Inverse string:</strong>
    <%= invsdatum.inverse_string %>
  </p>

 

</div>
